.pincy-custom-popup {
	position: absolute;
	width: 300px;
	min-height: 200px;
	background-color: rgb(253, 255, 121);
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	z-index: 500;
	overflow: hidden;
	resize: both;
}

.pincy-popup-header {
	height: 15px;
	padding: 5px;
	background-color: #d5ff4b;
	border-bottom: 1px solid #ddd;
	cursor: move;
}

.pincy-popup-close {
	cursor: pointer;
	font-weight: bold;
	color: white;
	float: right;
}

.pincy-popup-content {
	color: rgb(66, 66, 66);
	padding: 15px;
	overflow: auto;
	height: calc(100% - 40px);
	border: none;
}

.pincy-popup-content[contenteditable="true"]:empty::before {
	content: attr(placeholder);
	pointer-events: none;
	display: block;
}
.pincy-popup-content:focus {
	outline: 0;
}
