.pincy-custom-popup {
	position: fixed;
	width: 300px;
	min-height: 200px;
	background-color: rgb(253, 255, 121);
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	z-index: 3000;
	overflow: hidden;
	resize: both;
}

.pincy-popup-header {
	height: 15px;
	padding: 5px;
	background-color: #d5ff4b;
	border-bottom: 1px solid #ddd;
	cursor: move;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.pincy-popup-close {
	cursor: pointer;
	font-weight: bold;
	color: #444;
	margin-left: 10px;
	font-size: 16px;
}

.pincy-popup-save {
	cursor: pointer;
	margin-right: auto;
	font-size: 14px;
}

.pincy-popup-close:hover,
.pincy-popup-save:hover {
	opacity: 0.7;
}

.pincy-popup-content {
	color: rgb(66, 66, 66);
	padding: 15px;
	overflow: auto;
	height: calc(100% - 40px);
	border: none;
	font-family: sans-serif;
	font-size: 15px;
	line-height: 1.5;
}

/* フォントサイズの設定 */
.pincy-popup-content.small {
	font-size: 12px;
}

.pincy-popup-content.medium {
	font-size: 15px;
}

.pincy-popup-content.large {
	font-size: 18px;
}

.pincy-popup-content[contenteditable="true"]:empty::before {
	content: attr(placeholder);
	color: #888;
	pointer-events: none;
	display: block;
}

.pincy-popup-content:focus {
	outline: 0;
}
